// grayscale colors
$background-light: #F3F6FF;
$secondary: #EFF2FC;
$divider-border: #E2E5F1;
$input-placeholder: #B4B7C9;
$muted-text: #9397AD;
$body-text: #565973;
$navigation: #33354D;
$heading-dark: #0B0F19;

// brand colors
$primary: #6366F1;
$gradient: linear-gradient(90deg,  $primary 0%, #8B5CF6 50%, #D946EF 100%);

// system colors
$error: #EF4444; 
$succes: #22C55E;
$warning: #FFBA08;
$info: #4C82F7;
