@import 'elements';
@import 'buttons';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'typography';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b38e8e;
    flex-shrink: 0;
    height: 4.75rem;
    padding: 0 2rem;

    ul{
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
  }


    .logo{
        margin-left: 5rem
    }

    .theme-text{
      color: $body-text;
      font-size: map-get($navigation-text, font-size);
      font-weight: map-get($navigation-text, font-weight);
      margin-right: 1rem;
    }


    .features-container{
      display: flex;
      align-items: center;
      flex-grow: 1;
      list-style: none;
    }

    .features{

        color: map-get($navigation-text, color);
        font-size: map-get($navigation-text, font-size);
        font-weight: map-get($navigation-text, font-weight);
        margin-left: 3rem;

    }

    .sign-in-button{
      margin-right: 5rem;

      .sign-in{
      @each $property, $value in $button-with-icon{
        #{$property}: $value;
      }

      .icon{
        @each $property, $value in $icon-style{
          #{$property}: $value;
        }
      }
    }
  }

    .toggle-container{
      margin-right: 2rem;
    }

    .hamburger{
      display: none;
        width: 1.875rem;
        height: 2.25rem;
        background-image: url("/buttons/Hamburger.svg");
        margin-right: 1rem;
        
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 26px;
      }
      

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $muted-text;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: $primary;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px $primary;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
      
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: aqua;

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 48px;
  margin-top: 9.25rem;
  flex: 1 1 50%;
  box-sizing: border-box;
  height: auto;

  width: 35.125rem;
  height: 328px;
  background-color: #b38e8e;

  .header-title{
    font-size: map-get($display-4, font-size);
    font-weight: map-get($display-4 , font-weight);
  }

  .header-subtitle{
    font-size: map-get($l-text, font-size);
    font-weight: map-get($l-text, font-weight);
    color: map-get($l-text, color);
  }

.market-buttons-container{
  display: flex;
  gap: 24px;
  height: 3.625rem;
  background-color:#b38e8e;
  width: 100%;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.button-app-store{
  flex-shrink: 0;
  @each $property, $value in $button-app-store{
    #{$property}: $value;
  }
}

.button-google-play{
  flex-shrink: 0;
  @each $property, $value in $button-google-play{
    #{$property}: $value;
  }
}
}

.header-phones{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1 1 50%;
  justify-content: center;
  max-width: 50%;
  margin-top: 7rem;
  box-sizing: border-box;
}

.header-phones img{
  max-width: 100%;
  height: auto;
}

}
    @media (max-width: 48rem) {
        nav{
            margin: 1.5625rem 1.2125rem 1rem 1.1875rem;
            height: 3.25rem;
            justify-content: flex-end;
            padding: 0;

            .logo{
              margin-left: 1rem;
            }

            .features{
              display: none;
          }

          .hamburger{
            display: block;
            margin-left: 1.875rem;
            margin-right: 1rem;
        }

        .theme-text{
          color: #131022
        }

        .toggle-container{
          display: inline-block;
          margin-left: auto;
        }

        .sign-in-button{
          display: none;
        }

        }

      .header-container{
        width: 768px;
      }
    }

    @media (max-width: 30rem){
        nav{
            margin: .4375rem .225rem 0rem 0rem;
            height: 3.25rem;
            padding: 0;

            .theme-text{
              display: none;
            }

            .toggle-container{
              margin-right: 0;
            }

            .hamburger{

              margin-right: 1.375rem;
            }
        }
    }