@import "elements";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "typography";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  box-sizing: border-box;
}

nav,
.content-wrapper,
#brands,
#app-features,
.how-it-works-container,
.app-features-2-container,
.testimonials-container,
#faq-section,
#subscribe {
  width: 100%;
  max-width: 81rem;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.75rem;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .theme-text {
    color: $body-text;
    font-size: map-get($navigation-text, font-size);
    font-weight: map-get($navigation-text, font-weight);
    margin-right: 1rem;
  }

  .features-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
  }

  .features {
    color: map-get($navigation-text, color);
    font-size: map-get($navigation-text, font-size);
    font-weight: map-get($navigation-text, font-weight);
    margin-left: 3rem;
  }

  .sign-in-button {
    .sign-in {
      @each $property, $value in $button-with-icon {
        #{$property}: $value;
      }
      gap: 0;

      .icon {
        font-size: 1.4375rem;
      }
    }
  }

  .toggle-container {
    margin-right: 2rem;
  }

  .hamburger {
    display: none;
    width: 1.875rem;
    height: 2.25rem;
    background-image: url("/buttons/Hamburger.svg");
    margin-right: 1rem;
  }

  // Switch button from W3Schools
  .switch {
    position: relative;
    display: block;
    width: 46px;
    height: 26px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $muted-text;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $primary;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $primary;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

header {
  .full-width-header {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(240, 200, 212, 0.05) 42%,
      rgba(160, 108, 156, 0.07) 83%
    );
    width: 100%;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;

    .mobile-buttons-wrapper {
      display: none;
    }

    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      margin: 0 auto;
    }
    .header-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      width: 100%;

      .header-title {
        font-size: map-get($display-4, font-size);
        font-weight: map-get($display-4, font-weight);
      }

      .header-subtitle {
        font-size: map-get($l-text, font-size);
        font-weight: map-get($l-text, font-weight);
        color: map-get($l-text, color);
      }

      .market-buttons-container {
        display: flex;

        .button-app-store {
          @each $property, $value in $button-app-store {
            #{$property}: $value;
          }
        }

        .button-google-play {
          @each $property, $value in $button-google-play {
            #{$property}: $value;
          }
        }
      }
    }

    .header-phones {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-top: 7rem;
      margin-bottom: -8.375rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .discover-more-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      margin-top: 2rem;
      margin-bottom: 3.75rem;

      .material-icons {
        transform: rotate(90deg);
      }
    }

    .discover-more-button {
      @each $property, $value in $carousel-button {
        #{$property}: $value;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
    }

    .discover-more-text {
      font-size: map-get($s-text, font-size);
      font-weight: map-get($s-text, font-weight);
      color: map-get($s-text, color);
    }
  }
}

main {
  margin-top: 2rem;

  #brands {
    img {
      max-width: 100%;
      height: auto;
    }
    .brands-container {
      gap: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .brand-box {
      border: 1px solid $divider-border;
      border-radius: 8px;
      height: 6.25rem;
      width: 12.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #app-features {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 0;
    gap: 150px;

    img {
      max-width: 60%;
      height: auto;
      min-width: 20%;
    }

    .phone-visa {
      width: 50%;
      min-width: auto;
    }

    .features-content {
      display: flex;
      flex-direction: column;
    }

    .features-title {
      font-size: map-get($heading-h1, font-size);
      font-weight: map-get($heading-h1, font-weight);
      color: map-get($heading-h2, color);
    }

    .features-subtitle {
      margin: 1.4375rem 0 2.5rem 0;
      font-size: map-get($l-text, font-size);
      font-weight: map-get($l-text, font-weight);
      color: $muted-text;
    }

    .features-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 96px 48px;
      margin-top: 1.25rem;

      .feature {
        display: flex;
        align-items: flex-start;

        .feature-icon img {
          width: 15.625rem;
          flex-shrink: 0;
        }

        .feature-text {
          font-size: map-get($m-text, font-size);
          font-weight: map-get($m-text, font-weight);
          color: $body-text;

          .feature-title {
            font-size: map-get($heading-h5, font-size);
            font-weight: map-get($heading-h5, font-weight);
            color: $heading-dark;
            line-height: 1.5;
          }
        }
      }
    }
  }

  #how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-light;
    text-align: center;
    width: 100%;
    padding: 5rem 0;

    .how-it-works-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      .how-it-works-images {
        display: flex;
        align-items: center;
        gap: 120px;
        justify-content: center;

        .iphone-tablet-1,
        .iphone-tablet-2,
        .iphone-tablet-3,
        .iphone-mobile {
          display: none;
        }

        img {
          max-width: 60%;
          height: auto;
          min-width: 20%;
        }
      }

      .how-it-works-title {
        font-size: map-get($heading-h1, font-size);
        font-weight: map-get($heading-h1, font-weight);
      }

      .how-it-works-subtitle {
        font-size: map-get($heading-h4, font-size);
        font-weight: map-get($heading-h4, font-weight);
      }

      .how-it-works-text {
        color: map-get($m-text, color);
      }

      .how-it-works-subtitle-mobile {
        display: none;
      }

      .how-it-works-subtitle-tablet {
        display: none;
      }

      .how-it-works-text-mobile {
        display: none;
      }
    }
  }

  #app-features-2 {
    padding: 7rem 0;
  }
  .app-features-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .money-transfer-container,
    .receive-money-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .money-transfer-text-container,
    .receive-money-text-container {
      .learn-more-button-right {
        @each $property, $value in $button-with-icon {
          #{$property}: $value;
        }
      }

      .receive-money-button-right {
        @each $property, $value in $button-with-icon {
          #{$property}: $value;
        }
        margin-top: 1.25rem;
      }

      .receive-money-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        width: 40%;

        .receive-money-title {
          @each $property, $value in $heading-h2 {
            #{$property}: $value;
          }
        }

        .receive-money-icons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            gap: 50px;
            padding-bottom: 1.5625rem;
          }
        }
      }
    }

    .money-transfer-text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      p {
        display: flex;
        align-items: center;
        gap: 9px;
      }

      .check-icon {
        font-size: 1.25rem;
        color: white;
        background-color: $primary;
        border-radius: 50%;
      }
    }
  }

  #testimonials {
    display: flex;
    justify-content: space-between;
    background-color: $background-light;
    padding: 5rem 0;

    .testimonials-container {
      display: flex;
      justify-content: space-between;

      .clients-loving {
        @each $property, $value in $heading-h1 {
          #{$property}: $value;
        }

        width: 25%;
      }

      .testimonial-images {
        display: flex;
        gap: 0.9375rem;

        img {
          max-width: 60%;
          height: auto;
          min-width: 20%;
        }
      }
    }
  }

  #faq-section {
    display: flex;
    justify-content: space-between;
    padding: 7rem 0;

    .faq-title {
      margin-bottom: 1rem;
      width: 60%;
      @each $property, $value in $heading-h2 {
        #{$property}: $value;
      }
    }

    .faq-subtitle {
      margin-bottom: 2rem;
      width: 75%;
      @each $property, $value in $l-text {
        #{$property}: $value;
      }
    }

    .faq-contact-container {
      display: flex;
      gap: 16px;
      margin-bottom: 2rem;
      flex-direction: column;

      .contact-image-box {
        display: flex;
        gap: 1rem;

        img {
          max-width: 60%;
          height: auto;
          min-width: 20%;
        }
      }
    }

    .faq-questions-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 43%;
      justify-content: center;

      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
          0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);

        .faq-question-title {
          color: $navigation;
        }

        .faq-chevron {
          @each $property, $value in $carousel-button {
            #{$property}: $value;
            display: flex;
            align-items: center;
            transform: rotate(90deg);
            justify-content: center;
            box-shadow: none;
            background-color: $background-light;
            flex-shrink: 0;
            width: 36px;
            height: 36px;
            font-size: 1.5em;
          }
        }
      }
    }
    .faq-question-expanded {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 16px;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
        0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);

      .faq-question-title-container {
        display: flex;
        justify-content: space-between;
        .faq-question-title {
          color: $navigation;
        }
      }

      .faq-answer {
        @each $property, $value in $s-text {
          #{$property}: $value;
        }
      }

      .faq-chevron {
        @each $property, $value in $carousel-button {
          #{$property}: $value;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary;
          transform: rotate(270deg);
          flex-shrink: 0;
          width: 36px;
          height: 36px;
          font-size: 1.5em;
          color: white;
        }
      }
    }
  }

  .faq-contact-container-tablet,
  .faq-questions-container-tablet {
    display: none;
  }

  .faq-contact-container-mobile,
  .faq-questions-container-mobile {
    display: none;
  }

  .contact-button {
    display: none;
  }

  #subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-light;
    width: 80%;
    margin: 0 auto;
    padding: 4.5rem 6.875rem;
    gap: 4.875rem;
    border-radius: 8px;

    .subscribe-content {
      display: flex;
      align-items: center;
      width: 50%;
    }

    .alert-icon {
      margin-right: 2rem;
    }

    .subscribe-text h4 {
      @each $property, $value in $heading-h4 {
        #{$property}: $value;
      }
    }

    .subscribe-text-tablet h4 {
      display: none;
    }

    .subscribe-form {
      display: flex;
      align-items: center;
      flex-grow: 1;
      white-space: nowrap;
      justify-content: flex-end;
    }

    .input-group {
      display: flex;
      align-items: center;
      border-radius: 8px 0px 0px 8px;
      padding-left: 0.625rem;
      border: 1px solid #ddd;
      flex-grow: 1;
      max-width: 20.625rem;
      background-color: white;

      .email-placeholder {
        padding: 0.625rem;
        color: $input-placeholder;
      }

      .material-icons-outlined {
        color: $input-placeholder;
      }
    }

    .subscribe-btn {
      background-color: $primary;
      color: white;
      border: none;
      padding: 0.625rem 1.25rem;
      border-radius: 0px 8px 8px 0px;
      font-size: 16px;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.375rem 0;

  p {
    color: $muted-text;
    @each $property, $value in $s-text {
      #{$property}: $value;
    }
  }

  .footer-container {
    display: flex;
    gap: 3px;
  }
}

@media (max-width: 768px) {
  nav {
    margin-bottom: 3.125rem;
    padding: 0 1.1875rem;

    .features {
      display: none;
    }

    .hamburger {
      display: block;
      margin-right: 0;
    }

    .theme-text {
      color: #131022;
    }

    .toggle-container {
      display: block;
    }

    .sign-in-button {
      display: none;
    }
  }

  header {
    padding: 0 1.1875rem;

    .content-wrapper {
      .header-container {
        .header-title {
          transform: translateX(55%);
          width: 18.75rem;
          font-size: 2.125rem;
        }

        .header-subtitle {
          padding-top: 50px;
          font-size: map-get($m-text, font-size);
          font-weight: map-get($m-text, font-weight);
        }

        .mobile-buttons-wrapper {
          display: none;
        }
      }

      .discover-more-container {
        justify-content: flex-start;
        padding-right: 0;
      }
    }
  }

  .header-phones {
    justify-content: flex-end;
  }

  main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #brands {
      width: 100%;
      padding: 0 1.1875rem;

      #brand-1,
      #brand-2 {
        display: none;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .brand-box {
        border: 1px solid $divider-border;
        border-radius: 8px;
        height: 5.625rem;
        width: 9.375rem !important;
        display: flex;
        justify-content: center !important;
        align-items: center;
      }
    }

    .phone-visa {
      display: none;
    }

    #app-features {
      display: flex;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 1.1875rem;
      padding-right: 1.1875rem;

      .features-title {
        font-size: map-get($heading-h3, font-size) !important;
      }
    }

    .features-grid {
      .feature-title,
      .feature-text {
        text-align: left;
      }
    }

    #how-it-works {
      .how-it-works-container {
        .how-it-works-images {
          gap: 0;
          .iphone-1,
          .iphone-2,
          .iphone-3,
          .iphone-mobile {
            display: none;
          }

          .iphone-tablet-1,
          .iphone-tablet-2,
          .iphone-tablet-3 {
            display: flex;
          }
        }

        .how-it-works-subtitle {
          display: none;
        }

        .how-it-works-text {
          display: none;
        }

        .how-it-works-subtitle-mobile {
          display: none;
        }

        .how-it-works-subtitle-tablet {
          display: flex;
          font-size: map-get($heading-h3, font-size);
          font-weight: map-get($heading-h4, font-weight);
        }

        .how-it-works-text-mobile {
          display: flex;
          color: map-get($m-text, color);
        }
      }
    }

    #app-features-2,
    #testimonials {
      display: none;
    }

    #faq-section {
      padding-left: 1.1875rem;
      padding-right: 1.1875rem;
      display: flex;
      flex-direction: column;

      .faq-contact-container,
      .faq-questions-container {
        display: none;
      }
      .faq-contact-container-mobile,
      .faq-questions-container-mobile {
        display: none;
      }

      .contact-button {
        display: none;
      }

      .faq-title-tablet {
        text-align: center;
        @each $property, $value in $heading-h2 {
          #{$property}: $value;
        }
        margin-bottom: 1rem;
      }

      .faq-subtitle-tablet {
        text-align: center;
        @each $property, $value in $l-text {
          #{$property}: $value;
        }
        margin-bottom: 2rem;
      }

      .faq-contact-container-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }
      .faq-questions-container-tablet {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .contact-image-box-tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 16px;
          img {
            max-width: 60%;
            height: auto;
            min-width: 20%;
          }
        }
        .faq-question-tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem;
          border-radius: 8px;
          box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
            0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
          .faq-question-title-tablet {
            @each $property, $value in $navigation-text {
              #{$property}: $value;
            }
          }
          .faq-chevron-tablet {
            @each $property, $value in $carousel-button {
              #{$property}: $value;
              display: flex;
              align-items: center;
              transform: rotate(90deg);
              justify-content: center;
              box-shadow: none;
              background-color: $background-light;
              flex-shrink: 0;
              width: 36px;
              height: 36px;
              font-size: 1.5em;
            }
          }
        }

        .faq-question-expanded-tablet {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          gap: 16px;
          padding: 1.5rem;
          border-radius: 8px;
          box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
            0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);

          .faq-question-title-container-tablet {
            display: flex;
            justify-content: space-between;

            .faq-question-title-tablet {
              @each $property, $value in $navigation-text {
                #{$property}: $value;
              }
            }
          }

          .faq-answer-tablet {
            @each $property, $value in $s-text {
              #{$property}: $value;
            }
          }

          .faq-chevron-tablet {
            @each $property, $value in $carousel-button {
              #{$property}: $value;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $primary;
              transform: rotate(270deg);
              flex-shrink: 0;
              width: 36px;
              height: 36px;
              font-size: 1.5em;
              color: white;
            }
          }
        }
      }
    }

    #subscribe {
      width: 95%;
      padding: 3.125rem 1.125rem 3.125rem 1.25rem;
      gap: 1.875rem;

      .alert-icon {
        margin-right: 2rem;
        width: 65px;
        height: 65px;
      }

      .subscribe-text h4 {
        display: none;
      }

      .subscribe-form {
        display: flex;
        align-items: center;
        min-width: 30%;
      }

      .subscribe-btn {
        background-color: $primary;
        color: white;
        border: none;
        padding: 0.625rem 0.625rem;
        border-radius: 0px 8px 8px 0px;
        font-size: 16px;
      }

      .subscribe-text-tablet h4 {
        display: flex;
        @each $property, $value in $heading-h4 {
          #{$property}: $value !important;
        }
      }
    }
  }

  @media (max-width: 480px) {
    nav {
      margin: 0.4375rem 0.225rem 0rem 0rem;
      height: 3.25rem;
      padding-left: 1rem;
      padding-right: 1rem;
      .theme-text {
        display: none;
      }

      .toggle-container {
        margin-right: 0;
      }

      .hamburger {
        margin-left: 1.5rem;
        padding-right: 1rem;
        background-repeat: no-repeat;
      }
    }

    header {
      padding: 0%;
      width: 100%;

      .header-phones {
        display: none !important;
      }

      .header-title {
        transform: none !important;
        padding-top: 1.5625rem;
      }

      .header-subtitle {
        text-align: center;
        width: 100%;
        padding-top: 0;
        font-size: 1.125rem !important;
      }

      .header-container {
        padding-left: 0;
        justify-content: center !important;
        align-items: center !important;
      }

      .discover-more-container {
        justify-content: center !important;
        width: 100% !important;
      }

      .market-buttons-container {
        display: none !important;
        width: 100% !important;
      }

      .mobile-buttons-wrapper {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 1rem !important;
        width: 100% !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }

      .mobile-button-app-store {
        @each $property, $value in $mobile-button-app-store {
          #{$property}: $value;
          width: 100% !important;
          background-repeat: no-repeat;
          background-color: black;
          background-position: center;
          border-radius: 8px;
          height: 3.125rem;
        }
      }

      .mobile-button-google-play {
        @each $property, $value in $mobile-button-google-play {
          #{$property}: $value;
          width: 100% !important;
          background-repeat: no-repeat;
          background-color: black;
          background-position: center;
          border-radius: 8px;
          height: 3.125rem;
        }
      }
    }

    main {
      margin-top: 0;
      #brands {
        display: none;
      }

      #app-features {
        display: flex;
        width: 100% !important;
        text-align: center;
        align-items: center;
        max-width: fit-content !important;
        justify-content: center !important;
        flex-direction: column;
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        .features-grid {
          grid-template-columns: 1fr !important;
          gap: 2rem !important;
        }

        .features-title {
          font-size: map-get($heading-h3, font-size) !important;
        }

        .feature-title,
        .feature-text {
          text-align: left !important;
        }
      }

      #how-it-works {
        .how-it-works-images {
          .iphone-1,
          .iphone-2,
          .iphone-3,
          .iphone-tablet-1,
          .iphone-tablet-2,
          .iphone-tablet-3 {
            display: none !important;
          }

          .iphone-mobile {
            display: flex !important;
          }

          img {
            max-width: 100% !important;
            height: auto !important;
          }
        }

        .how-it-works-subtitle {
          display: none !important;
        }

        .how-it-works-text {
          display: none !important;
        }

        .how-it-works-subtitle-mobile {
          display: flex !important;
          font-size: map-get($heading-h4, font-size) !important;
          font-weight: map-get($heading-h4, font-weight) !important;
        }

        .how-it-works-subtitle-tablet {
          display: none !important;
        }

        .how-it-works-text-mobile {
          display: flex !important;
          color: map-get($m-text, color) !important;
        }
      }

      #app-features-2 {
        display: none;
      }

      #testimonials {
        display: none;
      }

      #faq-section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        hr {
          background-color: $divider-border;
          height: 1px;
          border: 0;
        }

        .faq-contact-container-tablet,
        .faq-questions-container-tablet {
          display: none;
        }
        .faq-contact-container-mobile,
        .faq-questions-container-mobile {
          display: flex;
          flex-direction: column;
        }

        .faq-title-mobile {
          text-align: center;
          @each $property, $value in $heading-h2 {
            #{$property}: $value;
          }
          margin-bottom: 1rem;
        }

        .faq-subtitle-mobile {
          text-align: center;
          @each $property, $value in $l-text {
            #{$property}: $value;
          }
          margin-bottom: 2rem;
        }

        .faq-contact-container-mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;
        }

        .faq-questions-container-mobile {
          display: flex;
          flex-direction: column;
          border: 1px solid $divider-border;
          border-radius: 8px;
        }

        .faq-question-mobile {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem;
          border-radius: 8px;
          box-shadow: none;
          .faq-question-title-mobile {
            @each $property, $value in $navigation-text {
              #{$property}: $value;
            }
          }
        }
        .faq-chevron-mobile {
          @each $property, $value in $carousel-button {
            #{$property}: $value;
            display: flex;
            align-items: center;
            transform: rotate(90deg);
            justify-content: center;
            box-shadow: none;
            background-color: $background-light;
            flex-shrink: 0;
            width: 36px;
            height: 36px;
            font-size: 1.5em;
          }
        }
        .faq-question-expanded-mobile {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          gap: 1rem;
          padding: 1.5rem;
          border-radius: 8px;
          box-shadow: none;
          .faq-question-title-container-mobile {
            display: flex;
            justify-content: space-between;
            .faq-question-title-mobile {
              @each $property, $value in $navigation-text {
                #{$property}: $value;
              }
            }
          }
          .faq-chevron-mobile {
            @each $property, $value in $carousel-button {
              #{$property}: $value;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $primary;
              transform: rotate(270deg);
              flex-shrink: 0;
              width: 36px;
              height: 36px;
              font-size: 1.5em;
              color: white;
            }
          }
        }
        .faq-answer-mobile {
          @each $property, $value in $s-text {
            #{$property}: $value;
          }
        }
        .contact-button {
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          margin-top: 3.75rem;
          margin-bottom: 2.5rem;
          width: 10.125rem;
          height: auto;
          @each $property, $value in $button-l {
            #{$property}: $value;
            font-size: 14px;
            font-weight: 400;
            padding: 10.8px 28.438px 16.3px 28.8px;
            border-radius: 6px;
          }
        }
      }
    }
    footer {
      .footer-container {
        align-items: center;
        flex-direction: column;
      }
    }
    #subscribe {
      padding: 3.75rem 0.9375rem 2.0625rem 1.5625rem !important;
      gap: 3.125rem !important;
      flex-direction: column;

      .subscribe-content {
        display: flex;
        align-items: center;
        justify-content: center !important;
        width: 100% !important;
      }

      .alert-icon {
        margin-right: 2rem;
        width: 75px !important;
        height: 75px !important;
      }

      .subscribe-text h4 {
        display: none;
      }

      .subscribe-text-tablet h4 {
        display: flex;
        @each $property, $value in $heading-h4 {
          #{$property}: $value !important;
        }
      }

      .subscribe-form {
        display: flex;
        align-items: center;
        flex-grow: 1;
        white-space: nowrap;
        justify-content: flex-end;
        width: 100%;
      }

      .subscribe-btn {
        padding: 0.9375rem 1.1557rem 1.125rem 1.25rem !important;
      }

      .input-group {
        display: flex;
        align-items: center;
        border-radius: 8px 0px 0px 8px;
        padding: 7px 10px 5px 20px !important;
        border: 1px solid #ddd;
        flex-grow: 1;
        max-width: 20.625rem;

        background-color: white;
        .material-icons-outlined {
          color: $input-placeholder;
        }
      }
    }
  }
}
